.perfectCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.perfectCenterX{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.perfectCenterY{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* A CSS addon by Dmitry Pustovit */