@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300);

body{
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

h1{
  font-weight: 200;
}

.header{
  position: fixed;
  text-align: center;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  background: red;
}

.logo{
  font-weight: 100;
  font-size: 30px;
  color: white;
  padding: 4px 0px 4px 0px;
  background-color: #3498db;
  cursor: pointer;
}

.headerMenu{
  background-color: #ECF0F1;
}

.headerMenu li {
  list-style: none;
  padding: 10px 0px 10px 0px;
  font-size: 22px;
  font-weight: 300;
}

.headerMenu li svg{
margin: 0 10px 0 10px;
}

.headerMenu a{
  text-decoration: none;
  color: #2c3e50;
}

.headerMenu a li:hover{
  background-color: #DADFE1;
}

.section{
  min-width: 320px;
  max-width: 800px;
  margin: 30px auto 20px auto;
  padding: 0 10px 0 10px;
}

.content{
  margin-top: 10px;
}

.divider{
  border-bottom: 1px dashed #DADFE1;
}

.more{
  font-size: 30px;
}

.change{
  text-align: center;
  padding: 0;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.span{
  float:right;
  font-size: 18px;
  margin-top: 18px;
}

@media  all and (max-width: 600px){
  .span{
    float:none;
  }
}
